

.ht{
    font-size: 40px;
    font-weight: 400;
    margin: 15px 0;
    color: var(--black);
}

.desc{
    color: gray;
}

.blog-p{
    padding-top:20px;
    margin-bottom: 20px;
}

.h{
    font-weight: 600;
    font-size: 20px;
    margin:0px;
    padding: 10px 0;
}
.blog{
    margin: 20px 0;
}

.blog-t{
    font-weight: 500;
    margin-bottom: 10px;
}

.blog-d{
    font-size: 14px;
    color: rgb(104, 104, 104);
}