.message{
    padding: 10px 0;
}

.message-content{
    font-size: 16px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);

}
.m-wr{
    display: flex;
    background-color: white;
    width: fit-content;
    padding: 10px 20px;
    border-radius:10px 10px 0px 0 ;
    border-left: 1px solid var(--border);

}