.nav{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    background-color: white;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
    border-bottom:1px solid var(--border) ;
}
.logo{
    color: var(--black);
    font-weight: 600;
    font-size: 20px;
}
.links{
    display: flex;
    list-style: none;
    width: 20%;
    text-decoration: none;
    justify-content: space-around;
    transition: 0.3s;
}


.links li{
    text-decoration: none;
    color: var(--black);
    font-size: 17px;
    padding: 0 20px;
}

.m-o{
    position: fixed;
    right: 30px;
    top:22px;
    display: none;
}

.bar{
    width: 20px;
    height: 2px;
    background-color: gray;
    margin: 3px;
    transition: 0.3s;
}

.lbar{
    width: 23px;
    height: 2px;
    background-color: gray;
    transform: rotateZ(45deg);
    transition: 0.3s;

}
.rbar{
    width: 23px;
    height: 2px;
    transition: 0.3s;

    background-color: gray;
    transform: rotateZ(-45deg);
}


@media only screen and (max-width:600px){
    .links{
        margin-top: 10px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: fixed;
        left:0;
        z-index: -1;
        background-color: white;
    }
    .links li{
        font-size: 14px;
        padding: 10px 0;
    }

    .nav{
        display: block;
        padding:20px 20px;
    }

    .m-o{
        display: block;
    }
    .ls-d{
        display: block;

    }
    
    .cov-v{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--border);
    }
    
    .ls-b{
        transform: translateX(-1000px);
        opacity: 0;
        visibility: hidden;
    }



    .logo{
        font-size: 16px;
    }
}